/* #6C757D */
body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */

  background-color: #f4f4f4; /* optional */
}

.smart{
  color: #DC3545;
}

.spend{
  color: #28A745;
}
